*{
	margin: 0;
}
button {
    border: none;
    background: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.accordions__controls {
    display: flex;
    justify-content: flex-end;
    padding-top: 38px;
    padding-bottom: 19px;
}

.accordions__control {
    font-weight: 600;
    font-size: 18px;
    color: #FF6600;
    transition: color 0.3s ease-in-out;
}

.accordions__control:hover, .accordions__control:focus {
    color: #031d3d;
}

.accordions__header {
    font-size: 32px;
    font-weight: 600;
    background-color: #f0f0f0;
    position: relative;
    border-bottom: solid 1px #d3d3d3;
}

.accordions__container {
    display: flex;
}

.accordions__title {
    position: relative;
    padding: 28px;
    padding-right: 38px;
    flex: 1;
    z-index: 2;
    background-color: #e3e3e3;
}

.accordions__title::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border-bottom: solid 1px #d3d3d3;
    z-index: 1;
}

.accordions__button {
    color: white;
    padding: 0 38px;
    line-height: 1;
    transition: padding 0.3s ease-in-out;
}

.accordions__button::before {
    content: '';
    background-color: #FF6600;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-bottom: solid 1px #FF6600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.accordions__button:hover {
    padding-right: 74px;
}

.accordions__button:hover::before {
    background-color: #FF6600;
}

.accordions__button:focus::before {
    background-color: #FF6600;
}

.accordions__button:active, .accordions__button--active {
    padding-right: 74px;
}

.accordions__button:active::before, .accordions__button--active::before {
    background-color: #031d3d !important;
    border-bottom: solid 1px #031730;
}

.accordions__button:active .accordions__icon, .accordions__button--active .accordions__icon {
    transform: rotate(45deg);
}

.accordions__icon {
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    color: white;
    display: block;
}

.accordions__content {
    background-color: white;
    max-height: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 1.2s ease-in-out, opacity 0.6s ease-in-out 0.6s, transform 0.6s ease-in-out 0.6s;
    transform: translateY(38px);
}

.accordions__content--expanded {
    max-height: 100%;
    opacity: 1;
    padding: 0;
    padding-bottom: 56px;
    transform: none;
}

.rich-text {
    font-size: 18px;
    line-height: 32px;
}

.rich-text p {
    margin-top: 38px;
} 

.footer{
    margin-top: 70px;
}
.sub .accordions__title{
    padding: 18px;
    background:#f0f0f0;
}
.accordions__content--expanded ul{
    padding: 28px;
    padding-bottom: 0;
}
.sub .accordions__content--expanded{
    padding-bottom: 20px;
}