.carousel {
      position: relative;
      height: 100%;
    }

    .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 100%;
    }

    .carousel-item {
      position: relative;
      display: none;
      float: left;
      width: 100%;
      height: 100%;
      margin-right: -100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: -webkit-transform .6s ease-in-out;
      transition: transform .6s ease-in-out;
      transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    }

    .carousel-inner::after {
      display: block;
      clear: both;
      content: "";
    }

    .active.carousel-item-left,
    .carousel-item-prev:not(.carousel-item-right) {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%)
    }

    .carousel-item-next:not(.carousel-item-left),
    .active.carousel-item-right {
      transform: translateX(100%);
    }

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
      display: block;
    }

    *,
    ::after,
    ::before {
      box-sizing: border-box;
    }
    .carousel-control-next, .carousel-control-prev{
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 15%;
      color: #fff;
      text-align: center;
      opacity: .5;
      transition: opacity .15s ease;
    }
    .carousel-control-prev{
      left: 0;
    }
    .carousel-control-next{
      right: 0;
    }
    .carousel-control-next, .carousel-control-prev{
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 15%;
      color: #fff;
      text-align: center;
      opacity: .5;
      transition: opacity .15s ease;
    }
    .carousel-control-prev-icon::before{
      font-size: 30px;
      color: white;
      /* background-image: url('data:image/svg+xml;utf-8;<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="8" height="8" viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z"/></svg>'); */
    }
    .carousel-control-next-icon::before {
      font-size: 30px;
      color: white;
      /* background-image: url('data:image/svg+xml;utf-8;<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="8" height="8" viewBox="0 0 8 8"><path d="M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z"/></svg>'); */
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
      display: inline-block;
      width: 20px;
      height: 20px;
      background: no-repeat 50%/100% 100%;
    }
    .sr-only{
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap;
      border: 0;
    }