/* Carta de servicio*/
.card{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 2fr repeat(4,1fr) 2fr ;
}
.card img{
  grid-column: 1/-1;
  grid-row: 1 / -1;
  width: 100%;
  height: auto;
  transition: all .3s ease-in;
  transform: scale(1);
  object-fit: cover;
}
.card:before{
  grid-column: 1/ 3;
  grid-row: 1 / 4;
  margin: 15px 0 0 15px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform-origin: top left;
}
.card:after{
  grid-column: 3/-1;
  grid-row: 4 /-1;
  margin: 0 15px 15px 0;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform-origin: bottom right;
}
.card:before, .card:after{
  transform: scale(0);
  transition: all .7s ease;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  content:"";
  z-index:4;
}
.card:hover img{
  transform: scale(1.08);
}
.card:hover:before, 
.card:hover:after{
  transform: scale(1);
}
.text{
  grid-column: 2 / -2;
  grid-row: 3 /-3;
  color: white;
  font-weight: 600;
  z-index: 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .text .titulo{
  margin:0;
  text-align: center;
  transform: translateY(100px);
  transition: all .7s ease;
  color: white;
  font-weight: 800;
  line-height: 1em;
  font-size: 1.2em;
}
.overlay{
  content:'';
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 2;
  transition: all .7s ease;
}
.card:hover .overlay{
  background: rgba(0,0,0,.5);
}
.card:hover .text .titulo{
  transform: translateY(0px);
}
main{
  padding: 50px 0;
}

.modal-detalle-servicio-container{
  background: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  display: none;
}
.modal-detalle-servicio{
  /* height: 75vh; */
  width: 400px;
  background: white;
  border-radius: 14px;
  padding: 45px 40px;
  position: relative;
}
.modal-detalle-servicio-title{
  font-size: 1.6em;
  margin-bottom: 20px
}
.modal-detalle-servicio-description{
  text-align: justify;
}
.modal-detalle-servicio-image{
  object-fit: cover;
  width: 100%;
  height: 200px;
  /* margin-bottom: 30px; */
}
#close{
  font-size: 22px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* Contenedor servicios*/
.mostrar{
  display: flex;
}
.services-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-template-rows: auto;
  gap: 40px;
  padding: 0 15px;
}
.title-services{
  margin-bottom: 55px;
  padding: 0 25px;
}
@media screen and (max-width: 660px){
  .services-container{
    padding: 30px 45px;
    gap: 50px;
  }
  .modal-detalle-servicio{
    width: calc(100% - 30px);
  }
  .title-services{
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1580px){
  .services-container{
    grid-template-columns: repeat(auto-fill, minmax(22vw, 1fr));    
  }
}